body{margin:100px;}
.text{text-align:center;}
.midashi {color:#666;border-left:solid 5px #9FD6D2; padding:5px 0px 5px 20px; margin-bottom:20px; background-color:#FCFBFA;}
.aka{color:#F00;}
body{background-color:#;}
